@charset "UTF-8";

.parent-container{
	display: inline-block;
	text-align: center;
	justify-content: center;
	
}
.container{
	display: flex;
	justify-content: center;
	margin-top: 3px;
}

form{
	display: inline-block;
	justify-content: center;
	text-align: center;
}

input{
	margin-top: 3px;
}

.clearsesh{
	display: flex;
	justify-content: flex-start;
	text-align: left;
	margin: 5px;
	font-size: 0.5em;
}
.errormsg{
	display: flex;
	justify-content: center;
	margin-top: 3px;
	text-align: center;
	align-items: center;
	color: red;
	font-size: 0.5em;
}